// 颜色定义规范
$color-background = #260339
$color-background-d = rgba(38, 3, 57, 0.3)
$color-highlight-background = #43145D
$color-dialog-background = #8b44b4
$color-theme = #966FAB
$color-theme-d = rgba(150, 111, 171, 0.5)
$color-sub-theme = #d93f30
$color-text = #fff
$color-text-d = rgba(255, 255, 255, 0.3)
$color-text-l = rgba(255, 255, 255, 0.75)
$color-text-ll = rgba(255, 255, 255, 0.9)

//字体定义规范
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 22px
